name: grpc-geo-api

services:
  edge-gateway:
    build:
      context: .
      dockerfile: services/edge-gateway/Dockerfile
    container_name: edge-gateway
    ports:
      - "50051:50051"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=:50051"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    networks:
      - internal

networks:
  internal:
    driver: bridge
